{% extends "base_with_sidebar_right.html" %}
{% load i18n %}
{% load core_tags %}
{% load thumbnail %}
{% load humanize %}
{% load cache %}
{% load author_tags %}
{% load markup %}

{% block title %}{{ site.name }}{% endblock %}
{% block subtitle %}{{ site.tagline }}{% endblock %}
{% block pagetitle %}Welcome{% endblock %}

{% block header_classes %}header-front{% endblock %}

{% block extrajs %}
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x8', directionalNav: false });
   });
</script>

<script>
    var latest_stream_timestamp={{ latest_stream_timestamp }};

    $(function() {

        setInterval( "get_updated_stream('activityfeed')", 300000  ); /* 10 minutes 600000; 5 minutes 300000*/

    })

    function get_updated_stream(streamid){
        stream = $('#' + streamid)
        $.getJSON('{% url "ajax-stream-updated" %}', { timestamp:latest_stream_timestamp},
               function(data) {
                    /* Iterate and add the new elements to the stream div */   
                    var length = data.items.length; 
                    while(length--){
                        stream.prepend( data.items[length] );
                        $(stream).find(':first').slideDown(600);
                        $(stream).find(':first').effect("highlight", {}, 2000);
                    }
                    
                    latest_stream_timestamp=data.timestamp
                    $("abbr.timeago").timeago();
               }
          )
    return false;
    }

    function show_summarised(summaryp){
        /* We do this via the p, then hide from the parent, so the enclosed area (including all the added items) is not a hotspot for clicking */
        summary = $(summaryp).parent()
        $(summary).children('p').hide();
        $(summary).find('li.activity-item').slideDown(600);
    }

</script>

{% endblock %}

{% block feature %}<div class="row featured"><div class="twelve columns">
<div id="featuredContent">
{% for object in topsection.items|slice:":5" %}
    <div>
        <img src="{% thumbnail object.image 960x480 upscale crop %}">
        <div class="feature-overlay">    
            <h5>
                {% if object|classname = 'Application' %}<a href="{% url 'application' application_slug=object.slug subdomain='install' %}">{{ object }} <i>{{ object.tagline }}</i></a>{% else %}
                {% if object|classname = 'Article' %}<a href="{% url 'article' article_id=object.id article_slug=object.slug subdomain=None %}">{{ object }}</a>{% else %}
                {% if object|classname = 'Method' %}<a href="{% url 'method' method_id=object.id method_slug=object.slug subdomain='do' %}"">{{ object }}</a>
                {% endif %} {% endif %} {% endif %}      
            </h5>
            {% if object.authors.count > 0 %}<p class="author_list">{% author_list object.authors.all %}</p>{% endif %}
            <p class="about">{{ object.description|truncatewords:30|markdown }}</p>
        </div>
    </div>
{% endfor %}
</div>
</div></div>
{% endblock %}

{% block content %}
<div class="home-stream">
  {% if stream %}
   <ul class="activityfeed" id="activityfeed">
       {% for action in stream|slice:":25" %}
            {% if action.target %}
                {% include "actstream/_action.html" %}
            {% else %}
                {% if action.is_summary %}
                    {% with action as summary %}{% include "actstream/_action_summary.html" %}{% endwith %}
                {% endif %}
            {% endif %}
         {% endfor %}
    </ul>
{% endif %}
</div>

{% endblock %}


{% block sidebar_right %}

    <h6>Browse</h6>
    {% include "_directory.html" %}

   <div class="home-sections"><!-- section tags -->
    
    {% for section in sections %}
        <h6>{{ section.tag|capfirst }}</h6>
        <div class="row">

            {% for object in section.items|slice:":4" %}
                {% if forloop.first %} 
                    <div class="three columns">
                        <img src="{% thumbnail object.image 160x120 upscale crop %}" class="span2 home-section-image-{% cycle 'left' 'right' %}">
                    </div>
                    <div class="nine columns">
                    <ul class="navlist">
                {% endif %}
                    <li>
                        {% if object|classname = 'Application' %}<a href="{% url 'application' application_slug=object.slug subdomain='install' %}">{{ object }} <i>{{ object.tagline }}</i></a>{% else %}
                        {% if object|classname = 'Article' %}<a href="{% url 'article' article_id=object.id article_slug=object.slug subdomain=None %}">{{ object }}</a>{% else %}
                        {% if object|classname = 'Method' %}<a href="{% url 'method' method_id=object.id method_slug=object.slug subdomain='do' %}"">{{ object }}</a>
                        {% endif %} {% endif %} {% endif %}      
                    </li>
                {% if forloop.last %} 
                    </ul>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    {% endfor %}
    </div>       



{% endblock %}


