{% extends "base_with_sidebar_right.html" %}
{% load i18n %}
{% load core_tags %}
{% load thumbnail %}
{% load humanize %}
{% load cache %}
{% load author_tags %}

{% block title %}{{ site.name }}{% endblock %}
{% block subtitle %}{{ site.tagline }}{% endblock %}
{% block pagetitle %}Welcome{% endblock %}

{% block header_classes %}header-front{% endblock %}

{% block extrajs %}
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x8', directionalNav: false });
   });
</script>
{% endblock %}

{% block content %}


<div id="featuredContent">
{% for method in topsection.items|slice:":5" %}
    <div>
        <img src="{% thumbnail method.image 960x480 upscale crop %}">
        <div class="feature-overlay">    
<!--            <div class="feature-caption-tab object-type object-type-method">Protocol</div> -->
            <h4><a href="{% url 'method' method_id=method.id method_slug=method.slug subdomain='do'%}">{{ method }}</a></h4>
            <p class="author_list">{% author_list method.authors.all %}</p>
            <p class="about">{{ method.description|truncatewords:50 }}</p>
        </div>
    </div>
{% endfor %}
</div>

<br />
    <div class="home-sections"><!-- section tags -->
    
    {% for section in sections %}
        <h6>{{ section.tag|capfirst }}</h6>
        <div class="row">

            {% for method in section.items|slice:":4" %}
                {% if forloop.first %} 
                    <div class="three columns">
                        <img src="{% thumbnail method.image 160x120 upscale crop %}" class="span2 home-section-image-{% cycle 'left' 'right' %}">
                    </div>
                    <div class="nine columns">
                    <ul class="navlist">
                {% endif %}
                    <li>
                        <a href="{% url 'method' method_id=method.id method_slug=method.slug subdomain='do' %}">{{ method }}</a>
                    </li>
                {% if forloop.last %} 
                    </ul>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    {% endfor %}
    </div>       


{% endblock %}


{% block sidebar_right %}

    <h6>Browse</h6>
    {% include "_directory.html" %}

{% endblock %}


