{% load bootstrap_toolkit %}

<!-- Login Modal window -->
    <div id="modal-login" class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Sign in to {{ site.name }}</h3>
    </div>

    <form action="/accounts/login/" method="post" class="well">{% csrf_token %}
    <div class="modal-body">
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <div class="control-group required"><label class="control-label" for="id_username">Username</label><div class="controls"><input id="id_username" name="username" maxlength="30" type="text"></div>
            <div class="control-group required"><label class="control-label" for="id_password">Password</label><div class="controls"><input name="password" id="id_password" type="password"></div>

    <p>You can also log in with your favourite social network.</p>
    <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ MEDIA_URL }}img/social/facebook-logo.png" alt="Log in using Facebook"></a>
    <a href="{% url socialauth_begin 'twitter' %}"><img src="{{ MEDIA_URL }}img/social/twitter-logo.png" alt="Log in using Twitter"></a>
    <a href="{% url socialauth_begin 'google-oauth2' %}"><img src="{{ MEDIA_URL }}img/social/google-logo.png" alt="Log in using Google"></a>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
    </form>
    </div>



