{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Shhhh....' %}{% endblock %}
{% block subtitle %}{% trans 'Change the password you use to access this site' %}{% endblock %}

{% block content %}

<p>{% trans "For security please enter your old password and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{% csrf_token %}
<table class="form">
{{ form.as_table }}
</table>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% endblock %}
