{% extends "base.html" %}

{% block title %}Patience is a virtue{% endblock %}
{% block subtitle %}But check your email{% endblock %}

{% block content %}
<p>Thankyou for registering with {{ site.name }}. An email with account activation instructions has been sent to your registered address.</p>
<div class="hilite">Click the link in the email to activate your account and login.</div>
<p>If you don't see the email shortly, check in your spam folder in case we've accidentally been filed in there.</p>
<p>See you soon!</p>
{% endblock %}
