{% extends "base.html" %}
{% load markup %}
{% load core_tags %}
{% load pagination_tags %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load i18n %}
{% load author_tags %}

{% block title %}{{ reference }}{% endblock %}
{% block subtitle %}{{ reference.author }}{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '8x4', directionalNav: false });
   });
  $(document).ready(function() {
  {% get_hit_count_javascript for reference %}
  });
 </script>
 <!-- Facebook Opengraph support -->
 <meta property="og:title" content="{{ reference }}"/>
 {% if method.image %}<meta property="og:image" content="{% thumbnail reference.image 128x128 upscale crop %}"/>{% endif %}
 <meta property="og:description" content="{{ reference.description }}"/>

{% endblock %}

{% block author_header %}{% if reference.created_by %}{% with reference.created_by as author %}{% include "_author_header.html" %}{% endwith %}{% endif %}{% endblock %}

{% block content %}


<p><i>{{ reference.publisher }}</i> {% if reference.published %}({{ reference.published.year }}){% endif %} <a href="{{ reference.url }}">{{ reference.namespace }}:{{ reference.uri }}</a></p>

<h3>{% trans "Related Resources" %}</h3>
This paper is connected to <a href="{{ reference.content_object.get_absolute_url }}">{{ reference.content_object }}</a>.

{% endblock %}


{% block sidebar_right %}

<h6>Actions</h6>
<ul class="navlist">
{% if reference.url %}<li><i class="general foundicon-website"></i> <a href="{{ reference.url }}">{% trans "Go to Homepage" %}</a></li>{% endif %}
<li><i class="general foundicon-page"></i> <a href="javascript:window.print()">{% trans "Print this page" %}</a></li>
<li><i class="social foundicon-thumb-up"></i> 
<a href="#" data-reveal-id="socialModal">Share this reference</a></li>
</ul>

    <h6>{% trans "Tags" %}</h6>
    {% with reference.tags.all as tags %}
        <div class="row"><div class="twelve columns tags-horizontal">
            {% include "_tags.html" %}
        </div></div>        
    {% endwith %}


    <h6>Related References</h6>
<ul class="navlist">
    {% for result in morelikethis %}
    {% with result.object as mlt_reference %}
    {% if mlt_reference %}
        <li><a href="{% url 'reference' reference_id=mlt_reference.id reference_slug=mlt_reference.slug %}">{{ mlt_reference }} <i>{{ mlt_reference.tagline }}</i></a></li>
    {% endif %}
    {% endwith %}
    {% empty %}
    <li>None.</li>
    {% endfor %}
    </ul>


<h6>{% trans "Meta" %}</h6>
<ul class="navlist">
<li><i class="social foundicon-torso"></i> Added by <a href="{% url 'user-profile' username=reference.created_by subdomain=None %}">{{ reference.created_by.get_full_name }}</a></li>
{% if reference.edited_by %}
<li><i class="social foundicon-torso"></i> Latest edit by <a href="{% url 'user-profile' username=reference.edited_by subdomain=None %}">{{ reference.edited_by.get_full_name }}</a></li>
{% endif %}<li><i class="general foundicon-clock"></i> Updated {{ reference.updated_at|brieftimesince }} ago</li>
{% get_hit_count for reference as hit_count %}<li><i class="general foundicon-globe"></i> Viewed {{ hit_count }} time{{ hit_count|pluralize }}</li>
</ul>

{% endblock %}


{% block modals %}
<div id="socialModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h2>Share this reference.</h2>
  {% with reference as object %}{% include "_social.html" %}{% endwith %}
</div>
{% endblock %}

