{% load thumbnail %}
{% load core_tags %}
{% load author_tags %}
{% load markup %}

<div class="listing">

    <div class="row">
        <div class="large-3 columns">
        {% if object.image %}
            <img src="{% thumbnail object.image 100x100 upscale crop %}">
        {% endif %}
        </div>
        <div class="large-9 columns"><h5><a href="{% url 'application' application_id=object.id application_slug=object.slug %}">{{ object }}</a></h5>
    <p>{{ object.description|markdown }}</p>
    </div>    
    </div>
    <div class="row">
    <div class="large-9 columns large-offset-3 ">
        <div class="object-tags tags-horizontal">{% with object.tags.all as tags %}{% include "_tags.html" %}{% endwith %}</div>
    </div>
    </div>
    <div class="row listing-metadata">
        <div class="large-9 columns large-offset-3 ">
            <p>
                <i class="social foundicon-torso"></i> {% author_et_al object.authors.all %} &bull;
<!--                <i class="social foundicon-torso"></i> Added by {{ object.author.get_full_name }} &bull; -->
                <i class="general foundicon-clock"></i> Updated {{ object.updated_at|brieftimesince }} ago.
            </p>
        </div>
    </div>



</div>


