{% extends "base_with_sidebar_right.html" %}
{% load core_tags %}
{% load markup %}
{% load pagination_tags %}
{% load tagmeta_tags %}
{% load thumbnail %}
{% load i18n %}


{% block title %}
    {% if tag %}
        {{ tag|capfirst }} {{ site.meta.method_name_plural }}
    {% else %}
        {% trans "Software" %}
    {% endif %}
{% endblock %}   

{% block subtitle %}{% trans "Explore our catalogue of bioinformatics software" %}{% endblock %}


{% block about %}
   {% if tag %} 
   {% if tagmeta.description %}
    <div class="row">
        <div class="large-12 columns">
            
                {% if tagmeta.sponsor.links %}
                    <div class="tagsponsor"><span>Sponsored links for this tag</span>
                    <p>{{ tagmeta.sponsor.links|markdown }}</p>
                    {% if tagmeta.sponsor.image %}<img src="{% thumbnail tagmeta.sponsor.image 100x100 crop %}">{% endif %}
                    </div>
                {% endif %}
                <!-- Include tag meta description here -->
                <div class="tagmeta" itemprop="description">{{ tagmeta.description|markdown:"safe,tables" }}</div>
           
        </div>
    </div>
    {% endif %}
    {% endif %}
{% endblock%}

{% block controls %}{% include "_list_controls.html" %}{% endblock %}

{% block content %}

    {% if object_list %}

        {% autopaginate object_list %}

            <div style="margin-top:1em;">
               {% for object in object_list %}
                    {% include "applications/_application.html"%}
               {% endfor %}
            </div>            
        <br class="clear" />

        {% paginate %}

    {% endif %}

{% endblock %}

{% block sidebar_right %}

    <div class="panel">
        <h4>Got an app to share?</h4>
        <p>You can now <a href="{% url 'application-create' %}">add your own applications</a> to Game of Life Science. Tell us about it and become part of the 
        conversation.</p>
    </div>

    {% if directory %}
        <h6>Browse</h6>
        {% include "_directory.html" %}
    {% endif %}

    <h6>Actions</h6>
    <ul class="navlist">
        <li><i class="social foundicon-rss"></i> <a href={% url 'method-rss-latest' %}>{% trans "Follow latest protocols" %}</a></li>
<!--        <li><i class="social foundicon-rss"></i> <a href={% url 'method-rss-latest'  %}>{% trans "Updated protocols" %}</a></li> -->
    </ul>

{% endblock %}
