{% extends "base.html" %}
{% load markup %}
{% load core_tags %}
{% load pagination_tags %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load i18n %}
{% load author_tags %}

{% block title %}{{ application }}{% endblock %}
{% block subtitle %}{{ application.tagline }}{% endblock %}

{% block extrahead %}
 <!-- Facebook Opengraph support -->
 <meta property="og:title" content="{{ application }}"/>
 {% if application.image %}<meta property="og:image" content="{% thumbnail application.image 128x128 upscale crop %}"/>{% endif %}
 <meta property="og:description" content="{{ application.description }}"/>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type='text/javascript'>
  $(document).ready(function() {
  {% get_hit_count_javascript for application %}
  });
 </script>
{% endblock %}

{% block forkme %}
{% if application.source_url|rcs_host == 'github' %}
    <a href="{{ application.source_url }}"><img style="position: fixed; top: 0; right: 0; border: 0; z-index:255;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
{% endif %}
{% endblock %}

{% block author_header %}{% with application.created_by as author %}{% include "_author_header.html" %}{% endwith %}{% endblock %}

{% block imageheader %}
    {% if application.image %}<img src="{% thumbnail application.image 400x400 upscale crop %}">{% endif %}
{% endblock %}

{% block feature %}
{% if application.features.count > 0 %}
<h5 data-magellan-destination="features">Features</h5>
<div class="row featured"><div class="large-12 columns">
<ul data-orbit data-options="timer_speed:0; animation_speed: 0; prev_class:hide; next_class:hide; bullets_container_class: orbit-bullets;" >
{% for feature in application.features.all %}
<li>
        <img src="{% thumbnail feature.image 960x480 upscale crop %}">
        <div class="orbit-caption">    
            <h5>{{ feature.title }}</h5><p>{{ feature.description|markdown }}</p>
        </div>
    </li>
{% endfor %}

</ul></div></div>
{% endif %}

{% endblock %}


{% block about %}
<div class="row">
    <div class="large-12 columns" itemprop="description">
        {{ application.description|markdown }}
    </div>
</div>
{% endblock %}

{% block content_nav %}
<div id="content_nav" class="nav_header large-12 columns">
<div class="row">
    <dl id="magellanTopNav" data-magellan-expedition="fixed" class="vertical tabs">

      <dt>Navigation</dt>
      <dt>Background</dt>
      {% if application.features.count > 0 %}<dd data-magellan-arrival="features"><a href="#features">Key Features</a></dd>{% endif %}
      <dd data-magellan-arrival="requirements"><a href="#requirements">Requirements</a></dd>
      <dt>Install</dt>
      <dd data-magellan-arrival="packages"><a href="#packages">Packages</a></dd>
      <dd data-magellan-arrival="source"><a href="#source">Source</a></dd>
      <dt>Meta</dt>
      <dd data-magellan-arrival="publications"><a href="#publications">Publications</a></dd>
      <dd data-magellan-arrival="contributors"><a href="#contributors">Contributors</a></dd>
      <dd data-magellan-arrival="license"><a href="#license">License</a></dd>
    </dl>
</div>
</div>
{% endblock %}

{% block content %}



<!--
<h3 data-magellan-destination="requirements">Requirements</h3>


<h3 data-magellan-destination="downloads">Downloads</h3>

 <p>Latest versions of {{ application.name }} are available below packaged for Windows, Mac and Linux where appropriate. Cross-platform packages may also be available for some software. Note that new releases are made available to <a href="">Installable partners</a> for 4 weeks prior to general release.</p> 


<h5 data-magellan-destination="packages">Packages</h5> -->



<h5 data-magellan-destination="source">Source Code</h5>
<p>If you prefer to install manually or want to contribute to development you can download the source code <a href="{{ application.source_url }}">via {{ application.source_url|rcs_host }}</a>.
<!-- Here's a direct link to the <a href="http://github.com/ables/{{ application.github }}/archive/master.zip">.zip package</a> to save some time. -->


<h3 data-magellan-destination="publications">{% trans "Publications" %}</h3>
{% for reference in application.references.all %}
    {% with reference.publication as publication %}{% include "publications/_publication.html" %}{% endwith %}
{% empty %}
    <p>No publications yet. Don't forget to <a href="{% url 'contact' %}">let us know</a> if you use <strong>{{ application.name }}</strong> in your published work. We'll feature you here!</p>
{% endfor %}

{% if application.ohloh %}
<h3>Statistics <a href="http://ohloh.net/p/{{ application.ohloh.project_id }}"><small><em>by <span class="ohlohO">O</span>hloh</em></small></a></h3>
<p><strong>{{ application.name }}</strong> currently has <a href="http://ohloh.net/p/{{ application.ohloh.project_id }}/users">{{ application.ohloh.data.user_count }} registered user{{ application.ohloh.data.user_count|pluralize }}</a>. It is developed
primarily in 
{% for language in application.ohloh.data.languages %}
    {% if forloop.last %} and {{ language }}{% else %}{{ language }}, {% endif %}

{% endfor %} languages, with <a href="http://ohloh.net/p/{{ application.ohloh.project_id }}/contributors?sort=latest_commit&time_span=12+months">{{ application.ohloh.data.twelve_month_contributor_count }} active contributor{{ application.ohloh.data.twelve_month_contributor_count|pluralize }}</a> in the past year.</p>

{% endif %}

{% if application.authors.count > 0  %}
<h3 data-magellan-destination="contributors">Contributors</h3>
<p>The following individuals and associated organisations have made significant contributions towards the development of <strong>{{ application.name }}</strong>. Complete listings of all
contributions of code and other resources can be found <a href="{{ application.source_url }}">via {{ application.source_url|rcs_host }}</a>.</p>

    <p class="author_list">{% author_list application.authors.all %}</p>
{% endif %}

{% if application.license %}
<h3 data-magellan-destination="licensing">Licensing</h3>
<p><strong>{{ application.name }}</strong>
{% if application.license.slug == 'proprietary' %} is proprietary software{% else %}is provided under the <a href="{{ application.license.url }}">{{ application.license.name }}</a>{% endif %}.
{{ application.license.description }}</p>
{% endif %}

{% endblock %}

{% block discussion %}{% include "comments/_disqus.html" %}{% endblock %}

{% block sidebar_right %}

<h6>Actions</h6>
<ul class="navlist">
{% if application.url %}<li><i class="general foundicon-website"></i> <a href="{{ application.url }}">{% trans "Go to Homepage" %}</a></li>{% endif %}
<li><i class="general foundicon-page"></i> <a href="javascript:window.print()">{% trans "Print this page" %}</a></li>
<li><i class="social foundicon-thumb-up"></i> 
<a href="#" data-reveal-id="socialModal">Share this application</a></li>
</ul>

    <h6>{% trans "Tags" %}</h6>
    {% with application.tags.all as tags %}
        <div class="row"><div class="large-12 columns tags-horizontal">
            {% include "_tags.html" %}
        </div></div>        
    {% endwith %}


    <h6>Related Applications</h6>
<ul class="navlist">
    {% for result in morelikethis %}
    {% with result.object as mlt_application %}
    {% if mlt_application %}
        <li><a href="{% url 'application' application_id=mlt_application.id application_slug=mlt_application.slug %}">{{ mlt_application }} <i>{{ mlt_application.tagline }}</i></a></li>
    {% endif %}
    {% endwith %}
    {% empty %}
    <li>None.</li>
    {% endfor %}
    </ul>


<h6>{% trans "Meta" %}</h6>
<ul class="navlist">
<li><i class="social foundicon-torso"></i> Added by <a href="{% url 'user-profile' username=application.created_by %}">{{ application.created_by.get_full_name }}</a></li>
{% if application.edited_by %}
<li><i class="social foundicon-torso"></i> Latest edit by <a href="{% url 'user-profile' username=application.edited_by %}">{{ application.edited_by.get_full_name }}</a></li>
{% endif %}<li><i class="general foundicon-clock"></i> Updated {{ application.updated_at|brieftimesince }} ago</li>
{% get_hit_count for application as hit_count %}<li><i class="general foundicon-globe"></i> Viewed {{ hit_count }} time{{ hit_count|pluralize }}</li>
</ul>

{% endblock %}


{% block modals %}
<div id="socialModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h2>Share this application.</h2>
  {% with application as object %}{% include "_social.html" %}{% endwith %}
</div>
{% endblock %}

