{% extends "base.html" %}
{% load markup %}
{% load core_tags %}
{% load pagination_tags %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load i18n %}
{% load author_tags %}

{% block title %}{{ application.name }}{% endblock %}
{% block subtitle %}{{ application.tagline }}{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x3' });
   });
  $(document).ready(function() {
  {% get_hit_count_javascript for application %}
  });
 </script>
 <!-- Facebook Opengraph support -->
 <meta property="og:title" content="{{ application }}"/>
 {% if method.image %}<meta property="og:image" content="{% thumbnail application.image 128x128 upscale crop %}"/>{% endif %}
 <meta property="og:description" content="{{ application.description }}"/>

{% endblock %}

{% block forkme %}
{% if application.source_url|rcs_host == 'github' %}
    <a href="{{ application.source_url }}"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:255;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
{% endif %}
{% endblock %}

{% block header_classes %}header-overlay{% endblock %}

{% block imageheader %}
    {% if application.image %}<img src="{% thumbnail application.image 400x400 upscale crop %}">{% endif %}
{% endblock %}

{% block content_header %}
<div class="row">
    <div class="twelve columns" itemprop="description">
        {{ application.description|markdown }}
    </div>
</div>
{% endblock %}

{% block content_nav %}
<div id="content_nav" class="nav_header twelve columns">
<div class="row">
    <dl id="magellanTopNav" data-magellan-expedition="fixed" class="vertical tabs">

      <dt>Navigation</dt>
      <dt>Background</dt>
      {% if application.features.count > 0 %}<dd data-magellan-arrival="features"><a href="#features">Key Features</a></dd>{% endif %}
      <dd data-magellan-arrival="requirements"><a href="#requirements">Requirements</a></dd>
      <dt>Install</dt>
      <dd data-magellan-arrival="packages"><a href="#packages">Packages</a></dd>
      <dd data-magellan-arrival="source"><a href="#source">Source</a></dd>
      <dt>Meta</dt>
      <dd data-magellan-arrival="publications"><a href="#publications">Publications</a></dd>
      <dd data-magellan-arrival="contributors"><a href="#contributors">Contributors</a></dd>
      <dd data-magellan-arrival="license"><a href="#license">License</a></dd>
    </dl>
</div>
</div>
{% endblock %}

{% block content %}
{% if application.features.count > 0 %}
<h3 data-magellan-destination="features">{% trans "Key Features" %}</h3>

<div id="featuredContent">
{% for feature in application.features.all %}
    <div class="feature">
      <div class="row">
        {% if not forloop.counter|divisibleby:2 %}
            <div class="four columns"><img src="{% thumbnail feature.image 500x200 %}"></div>
        {% endif %}
        <div class="eight columns"><h5>{{ feature.title }}</h5><p>{{ feature.description|markdown }}</p></div>
        {% if forloop.counter|divisibleby:2 %}
            <div class="four columns"><img src="{% thumbnail feature.image 500x200 %}"></div>
        {% endif %}
      </div>
    </div>
{% endfor %}
</div>
{% endif %}


<!--
<h3 data-magellan-destination="requirements">Requirements</h3>


<h3 data-magellan-destination="downloads">Downloads</h3>

 <p>Latest versions of {{ application.name }} are available below packaged for Windows, Mac and Linux where appropriate. Cross-platform packages may also be available for some software. Note that new releases are made available to <a href="">Installable partners</a> for 4 weeks prior to general release.</p> 


<h5 data-magellan-destination="packages">Packages</h5> -->



<h5 data-magellan-destination="source">Source Code</h5>
<p>If you prefer to install manually or want to contribute to development you can download the source code <a href="{{ application.source_url }}">via {{ application.source_url|rcs_host }}</a>.
<!-- Here's a direct link to the <a href="http://github.com/ables/{{ application.github }}/archive/master.zip">.zip package</a> to save some time. -->


<h3 data-magellan-destination="publications">{% trans "Publications" %}</h3>
{% for reference in application.references.all %}
    {% include "references/_reference.html" %}
{% empty %}
    <p>No publications yet. Don't forget to <a href="{% url 'contact' None %}">let us know</a> if you use <strong>{{ application.name }}</strong> in your published work. We'll feature you here!</p>
{% endfor %}

{% if application.authors %}
<h3 data-magellan-destination="contributors">Contributors</h3>
<p>The following individuals and associated organisations have made significant contributions towards the development of <strong>{{ application.name }}</strong>. Complete listings of all
contributions of code and other resources can be found <a href="{{ application.source_url }}">via {{ application.source_url|rcs_host }}</a>.</p>

    <p class="author_list">{% author_list application.authors.all %}</p>
{% endif %}

{% if application.license %}
<h3 data-magellan-destination="licensing">Licensing</h3>
<p><strong>{{ application.name }}</strong> is provided under the <a href="{{ application.license.url }}">{{ application.license.name }}</a>. {{ application.license.description }}</p>
{% endif %}

{% endblock %}


{% block sidebar_right %}

<h6>Actions</h6>
<ul class="navlist">
{% if application.url %}<li><i class="general foundicon-website"></i> <a href="{{ application.url }}">{% trans "Go to Homepage" %}</a></li>{% endif %}
<li><i class="general foundicon-page"></i> <a href="javascript:window.print()">{% trans "Print this page" %}</a></li>
<li><i class="social foundicon-thumb-up"></i> 
<a href="#" data-reveal-id="socialModal">Share this application</a></li>
</ul>

    <h6>{% trans "Tags" %}</h6>
    {% with application.tags.all as tags %}{% with 1 as show_tag_counts %}
        <div class="row"><div class="twelve columns tags-vertical">
            {% include "_tags.html" %}
        </div></div>        
    {% endwith %}{% endwith %}


    <h6>Related Applications</h6>
<ul class="navlist">
    {% for result in morelikethis %}
    {% with result.object as mlt_application %}
    {% if mlt_application %}
        <li><a href="{% url 'application' application_slug=mlt_application.slug %}">{{ mlt_application }}</a></li>
    {% endif %}
    {% endwith %}
    {% empty %}
    <li>None.</li>
    {% endfor %}
    </ul>


<h6>{% trans "Meta" %}</h6>
<ul class="navlist">
<li><i class="social foundicon-torso"></i> Added by <a href="{% url 'user-profile' username=application.created_by subdomain=None %}">{{ application.created_by.get_full_name }}</a></li>
{% if application.edited_by %}
<li><i class="social foundicon-torso"></i> Latest edit by <a href="{% url 'user-profile' username=application.edited_by subdomain=None %}">{{ application.edited_by.get_full_name }}</a></li>
{% endif %}<li><i class="general foundicon-clock"></i> Updated {{ application.updated_at|brieftimesince }} ago.</li>
</ul>

{% endblock %}


{% block modals %}
<div id="socialModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h2>Share this protocol.</h2>
  {% with method as object %}{% include "_social.html" %}{% endwith %}
</div>
{% endblock %}

