{% extends "base_with_sidebar_right.html" %}
{% load core_tags %}
{% load markup %}
{% load pagination_tags %}
{% load tagmeta_tags %}
{% load thumbnail %}
{% load i18n %}


{% block title %}
    {% if tag %}
        {{ tag|capfirst }} {{ site.meta.method_name_plural }}
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block subtitle %}{{ subtitle }}{% endblock %}


{% block content_header %}
   {% if tag %} 
   {% if tagmeta.description %}
    <div class="row">
        <div class="twelve columns">
            
                {% if tagmeta.sponsor.links %}
                    <div class="tagsponsor"><span>Sponsored links for this tag</span>
                    <p>{{ tagmeta.sponsor.links|markdown }}</p>
                    {% if tagmeta.sponsor.image %}<img src="{% thumbnail tagmeta.sponsor.image 100x100 crop %}">{% endif %}
                    </div>
                {% endif %}
                <!-- Include tag meta description here -->
                <div class="tagmeta" itemprop="description">{{ tagmeta.description|markdown:"safe,tables" }}</div>
           
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="row">
        <div class="twelve columns">
            <dl class="sub-nav">
              <dt>Sort by</dt>
              <dd {% if sorted_by == 'latest' %}class="active"{% endif %}><a href="?sort=latest">Latest</a></dd>
              <dd {% if sorted_by == 'views' %}class="active"{% endif %}><a href="?sort=views" >Views</a></dd>
            </dl>
        </div>
    </div>

{% endblock %}

{% block content %}

    {% if object_list %}

        {% autopaginate object_list %}

            <div style="margin-top:1em;">
               {% for object in object_list %}
                    {% if object|classname = 'Application' %}{% include "applications/_application.html"%}{% else %}
                    {% if object|classname = 'Article' %}{% include "blog/_article.html"%}{% else %}
                    {% if object|classname = 'Method' %}{% include "methods/_method.html"%}{% else %}
                    {% endif %}{% endif %}{% endif %}

                {% endfor %}
            </div>            
        <br class="clear" />

        {% paginate %}

    {% endif %}

{% endblock %}

{% block sidebar_right %}

    {% if directory %}
        <h6>Browse</h6>
        {% include "_directory.html" %}
    {% endif %}

    <h6>Actions</h6>
    <ul class="navlist">
        <li><i class="social foundicon-rss"></i> <a href={% url 'method-rss-latest' subdomain='do' %}>{% trans "Follow latest protocols" %}</a></li>
<!--        <li><i class="social foundicon-rss"></i> <a href={% url 'method-rss-latest'  subdomain='do' %}>{% trans "Updated protocols" %}</a></li> -->
    </ul>

{% endblock %}
