{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load core_tags %}
{% load thumbnail %}
{% load countries_tags %}
{% load cache %}

{% block title %}{% trans "People" %}{% endblock %}
{% block subtitle %}{% trans "The important ones at least" %}{% endblock %}

{% block content %}

    <form method="get" action="." class="well form-inline">
        {{ form.as_table }}
        <button type="submit" class="btn">Search</button>
    </form>

    <div class="stack-horizontal">
        {% if query %}
            {% for result in page.object_list %}
            {% with result.object as profile %}    
            
                {% include "profiles/_profile.html" %}

            {% endwith %}
            {% endfor %}
        {% else %}
            {% cache 600 all_profiles %}
                {% for profile in all_objects %}

                    {% include "profiles/_profile.html" %}

                {% endfor %}    
            {% endcache %}
        {% endif %}
    </div>


{% endblock %}
