{% extends 'base.html' %}
{% load i18n %}
{% load pagination_tags %}
{% load core_tags %}

{% block title %}{% trans "Search for" %} '{{ query }}'{% endblock %}
{% block subtitle %}{% trans "Results from across abl.es" %}{% endblock %}

{% block content %}
    <h2>Search</h2>

    <form method="get" action="." class="well form-inline">
        {{ form }}
        <button type="submit" class="btn">Search</button>
    </form>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                {% with result.object as object %}
                    {% if object|classname == 'Application' %}{% include "applications/_application.html"%}{% else %}
                    {% if object|classname == 'Article' %}{% include "blog/_article.html"%}{% else %}
                    {% if object|classname == 'Method' %}{% include "methods/_method.html"%}{% else %}
                    {% endif %}{% endif %}{% endif %}  
                {% endwith %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>


{% with page as page_obj %}
    {% paginate %}
{% endwith %}


{% endblock %}
