{% load thumbnail %}
{% load core_tags %}
{% load markup %}

<div class="object">

        <div class="object-title"><h3><a href="{% url 'article' article_id=object.id article_slug=object.slug %}">{{ object }}</a></h3></div>
        <div class="object-content">
            <p>{{ object.content|markdown }}</p>
        </div>
		{% if site.id != 1 %}
		    <div class="object-tags tags-horizontal">{% with object.tags.all as tags %}{% include "_tags.html" %}{% endwith %}</div>
        {% endif %}
        <div class="object-timestamp">        
        Posted by <a href="{ % url 'user-profile' username=object.author % }">{{ object.author.get_full_name }}</a> {{ object.created_at|brieftimesince }} ago
        </div>
</div>

