{% extends "base.html" %}
{% load i18n %}
{% load core_tags %}
{% load thumbnail %}
{% load markup %}
{% load hitcount_tags %}

{% block extrajs %}
    {{ block.super }}
     <script> 
      $(document).ready(function() {
      {% get_hit_count_javascript for article %}
      });
     </script>
     <!-- Facebook Opengraph support -->
     <meta property="og:title" content="{{ article }}"/>
     <meta property="og:description" content="{{ article.content }}"/>
{% endblock %}



{% block title %}{{ article }}{% endblock %}
{% block subtitle %}{{ article.tagline }}{% endblock %}

{% block content %}
<a name="about"></a>
<p>{{ article.content|markdown:"safe,tables"  }}</p>

{% endblock %}

{% block sidebar_right %}
    <h5>Actions</h5>
    <ul class="navlist navlist-icon">
        <li class="icon_print"><a href="javascript:window.print()">{% trans "Printer friendly view" %}</a></li>
        <li class="icon_share">{% with article as object %}{% include "_social.html" %}{% endwith %}</li>
    </ul>
    <!-- AddThis Button BEGIN -->
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e75051d50065d70"></script>
    <!-- AddThis Button END -->

    <h5>{% trans "Tags" %}</h5>

    {% with article.tags.all as tags %}{% with 1 as show_tag_counts %}
        <div class="tags-vertical">{% include "_tags.html" %}</div>
        <br class="clear">
    {% endwith %}{% endwith %}

    <h5>Related articles</h5>
    <ul class="navlist">
    {% for result in morelikethis %}
    {% with result.object as mlt_article %}
    {% if mlt_article %}
        <li><a href="{% url 'article-detail' article_id=mlt_article.id %}">{{ mlt_article }}</a></li>
    {% endif %}
    {% endwith %}
    {% endfor %}
    </ul>

    <h6>Meta</h6>

<ul class="navlist">
<li><i class="social foundicon-torso"></i> Added by <a href="{% url 'user-profile' username=article.created_by subdomain=None %}">{{ article.created_by.get_full_name }}</a></li>
{% if article.edited_by %}
<li><i class="social foundicon-torso"></i> Latest edit by <a href="{% url 'user-profile' username=article.edited_by subdomain=None %}">{{ article.edited_by.get_full_name }}</a></li>
{% endif %}<li><i class="general foundicon-clock"></i> Updated {{ article.updated_at|brieftimesince }} ago</li>
{% get_hit_count for article as hit_count %}<li><i class="general foundicon-globe"></i> Viewed {{ hit_count }} time{{ hit_count|pluralize }}</li>
</ul>

{% endblock %}





