{% extends "base.html" %}
{% load i18n %}
{% load core_tags %}
{% load thumbnail %}
{% load markup %}
{% load hitcount_tags %}


{% block extrahead %}
     <!-- Facebook Opengraph support -->
     <meta property="og:title" content="{{ article }}"/>
     {% if article.image %}<meta property="og:image" content="{% thumbnail article.image 128x128 upscale crop %}"/>{% endif %}
     <meta property="og:description" content="{{ article.content }}"/>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
     <script> 
      $(document).ready(function() {
      {% get_hit_count_javascript for article %}
      });
     </script>
{% endblock %}



{% block title %}{{ article }}{% endblock %}
{% block subtitle %}{{ article.tagline }}{% endblock %}

{% block author_header %}{% with article.created_by as author %}{% include "_author_header.html" %}{% endwith %}{% endblock %}

{% block imageheader %}
    {% if article.image %}<img src="{% thumbnail article.image 400x400 upscale crop %}">{% endif %}
{% endblock %}

{% block content %}
<a name="about"></a>
<p>{{ article.content|markdown:"safe,tables,"  }}</p>

{% endblock %}

{% block discussion %}{% include "comments/_disqus.html" %}{% endblock %}

{% block sidebar_right %}
    <h6>Actions</h6>
    <ul class="navlist navlist-icon">
        <li class="icon_print"><a href="javascript:window.print()">{% trans "Printer friendly view" %}</a></li>
        <li><i class="social foundicon-thumb-up"></i> <a href="#" data-reveal-id="socialModal">Share this article</a></li></ul>
    </ul>
    <!-- AddThis Button BEGIN -->
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e75051d50065d70"></script>
    <!-- AddThis Button END -->

    <h6>{% trans "Tags" %}</h6>
    {% with article.tags.all as tags %}
        <div class="row"><div class="large-12 columns tags-horizontal">
            {% include "_tags.html" %}
        </div></div>        
    {% endwith %}

    <h6>Related articles</h6>
    <ul class="navlist">
    {% for result in morelikethis %}
    {% with result.object as mlt_article %}
    {% if mlt_article %}
        <li><a href="{% url 'article-detail' article_id=mlt_article.id %}">{{ mlt_article }}</a></li>
    {% endif %}
    {% endwith %}
    {% endfor %}
    </ul>

    <h6>Meta</h6>

<ul class="navlist">
<li><i class="social foundicon-torso"></i> Added by <a href="{% url 'user-profile' username=article.created_by %}">{{ article.created_by.get_full_name }}</a></li>
{% if article.edited_by %}
<li><i class="social foundicon-torso"></i> Latest edit by <a href="{% url 'user-profile' username=article.edited_by %}">{{ article.edited_by.get_full_name }}</a></li>
{% endif %}<li><i class="general foundicon-clock"></i> Updated {{ article.updated_at|brieftimesince }} ago</li>
{% get_hit_count for article as hit_count %}<li><i class="general foundicon-globe"></i> Viewed {{ hit_count }} time{{ hit_count|pluralize }}</li>
</ul>

{% endblock %}



{% block modals %}
<div id="socialModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h2>Share this article.</h2>
  {% with article as object %}{% include "_social.html" %}{% endwith %}
</div>
{% endblock %}



