{% load thumbnail %}
{% load core_tags %}

<div class="listing">

    <div class="row">
        <div class="three columns right">
        {% if method.image %}
            <img src="{% thumbnail method.image 205x80 upscale crop %}">
        {% endif %}
        </div>
        <div class="nine columns"><h5><a href="{% url method-detail method_id=method.id method_slug=method.slug %}">{{ method }}</a></h5>
    <p>{{ method.description }}</p>
    </div>    
    </div>
    <div class="row">
    <div class="nine columns offset-by-three ">
        <div class="method-tags tags-horizontal">{% with method.tags.all as tags %}{% include "_tags.html" %}{% endwith %}</div>
    </div>
    </div>
    <div class="row listing-metadata">
        <div class="nine columns offset-by-three ">
            <p>
                <i class="social foundicon-torso"></i> Author list, Author list, Author list, Author list &bull;
<!--                <i class="social foundicon-torso"></i> Added by {{ method.author.get_full_name }} &bull; -->
                <i class="general foundicon-clock"></i> Updated {{ method.updated_at|brieftimesince }} ago.
            </p>
        </div>
    </div>



</div>


