{% extends "base_with_sidebar_right.html" %}
{% load markup %}
{% load pagination_tags %}
{% load tagmeta_tags %}
{% load thumbnail %}
{% load i18n %}


{% block title %}
    {% if tag %}
        {{ tag|capfirst }} {{ site.meta.method_name_plural }}
    {% else %}
        Protocols
    {% endif %}
{% endblock %}

{% block subtitle %}Explore our catalogue of protocols and guides{% endblock %}


{% block content_header %}
   {% if tag %} 
   {% if tagmeta.description %}
    <div class="row">
        <div class="twelve columns">
            <p itemprop="description">

                    {% tagmeta_for_tag tag as tagmeta %}
                    {% if tagmeta.sponsor.links %}
                        <div class="tagsponsor"><span>Sponsored links for this tag</span>
                        <p>{{ tagmeta.sponsor.links|markdown }}</p>
                        {% if tagmeta.sponsor.image %}<img src="{% thumbnail tagmeta.sponsor.image 100x100 crop %}">{% endif %}
                        </div>
                    {% endif %}
                    <!-- Include tag meta description here -->
                    <div class="tagmeta">{{ tagmeta.description|markdown:"safe,tables" }}</div>

            </p>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="row">
        <div class="twelve columns">
            <dl class="sub-nav">
              <dt>Sort by</dt>
              <dd {% if sorted_by == 'latest' %}class="active"{% endif %}><a href="?sort=latest">Latest</a></dd>
              <dd {% if sorted_by == 'views' %}class="active"{% endif %}><a href="?sort=views" >Views</a></dd>
            </dl>
        </div>
    </div>

{% endblock %}

{% block content %}

    {% if object_list %}

        {% autopaginate object_list %}

            <div style="margin-top:1em;">
               {% for method in object_list %}
                
                    {% include "methods/_method.html"%}

                {% endfor %}
            </div>            
        <br class="clear" />

        {% paginate %}

    {% endif %}

{% endblock %}

{% block sidebar_right %}

    {% if directory %}
        <h6>Browse</h6>
        {% include "_directory.html" %}
    {% endif %}

    <h6>Related tags</h6>
    {% with related_tags as tags %}
        <div class="tags-vertical">{% include "_tags.html" %}</div>
    {% endwith %}   

    <h6>Actions</h6>
    <ul class="navlist navlist-icon">
        <li class="icon_rss"><a href={% url method-rss-latest %}>{% trans "RSS feed of latest" %} {{ site.meta.method_name_plural }}</a></li>
    </ul>

{% endblock %}
