{% extends "base_with_sidebar_right.html" %}
{% load i18n %}
{% load core_tags %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load markup %}
{% load author_tags %}
{% load avatar_tags %}

{% block extrajs %}
    {{ block.super }}
     <script> 
      $(document).ready(function() {
      {% get_hit_count_javascript for method %}
      });
     </script>
     <!-- Facebook Opengraph support -->
     <meta property="og:title" content="{{ method }}"/>
     {% if method.image %}<meta property="og:image" content="{% thumbnail method.image 128x128 upscale crop %}"/>{% endif %}
     <meta property="og:description" content="{{ method.description }}"/>

    { % include "comments/_ajax_comments.html" % }
{% endblock %}

{% block author_header %}{% with method.created_by as author %}{% include "_author_header.html" %}{% endwith %}{% endblock %}


{% block title %}{{ method }}{% endblock %}
{% block subtitle %}
    {% if method.authors %}
        <p class="author_list">{% author_list method.authors.all %}</p>
    {% endif %}
{% endblock %}

{% block imageheader %}
    {% if method.image %}<img src="{% thumbnail method.image 400x400 upscale crop %}">{% endif %}
{% endblock %}

{% block about %}{{ method.description|markdown }}{% endblock %}

{% block content %}

{% if method.notes %}
<h3 data-magellan-destination="background">{% trans "Background" %}</h3>
    <p>{{ method.notes|markdown:"safe,tables" }}</p>
{% endif %}
<!-- </div></div>
<div class="row"><div class="twelve columns"> -->
    {% if method.materials %}
<h3 data-magellan-destination="requirements">Requirements</h3>
    <ul class="disc">
    {% for ingredient in method.materials|splitnewlines %}
        <li itemprop="ingredients">{{ ingredient }}</li>
    {% endfor %}
    </ul>
    {% endif %}

<a name="method"></a>
<h3 data-magellan-destination="method">{% trans "Method" %}</h3>

    <div id="method-container" itemprop="recipeInstructions" class="fullwidth">

        {% for timestamp, step in schedule.items %}
        <div class="step step-thread-{{ step.thread }}" data-magellan-destination="step{{ forloop.counter }}">
        <div class="step-number"><div><span>{{ step.order }}</span></div></div>
        {% if step.wait %}
            <div class="step-wait" data-magellan-destination="step{{ forloop.counter }}">Wait for 
                <span class="thread-dot step-thread-{{ step.thread }}">&bull;</span>
                {% duration step.wait %}
            </div>

        {% else %}
        <div class="step-content">
        <div class="row">

            <div class="twelve columns">
                {{ step.content|markdown:"safe,tables,codehilite" }}
            </div>
        </div></div>
         {% endif %}


        {% if step.image %}
        <div class="row">
        <div class="twelve columns>
          <a href="{{ MEDIA_URL }}{{ step.image }}" class="imagezoom step-image"><img src="{% thumbnail step.image 660x250 upscale crop %}"></a>
        </div></div>
        {% endif %}

        {% if step.tip %}
        <div class="row">
        <div class="twelve columns"><div class="step-tip">
            <i class="general foundicon-idea"></i>
            {{ step.tip|markdown:"safe,tables,codehilite" }}   
        </div></div></div>
        {% endif %}
    
        </div>

        {% endfor %}

    </div>

<h3 data-magellan-destination="publications">{% trans "References" %}</h3>
{% for reference in method.references.all %}
    {% with reference.publication as publication %}{% include "publications/_publication.html" %}{% endwith %}
{% empty %}
    <p>No publications yet. Don't forget to <a href="{% url 'contact' None %}">let us know</a> if you use <strong>{{ method.name }}</strong> in your published work. We'll feature you here!</p>
{% endfor %}

{% endblock %}

{% block discussion %}{% include "comments/_disqus.html" %}{% endblock %}

{% block sidebar_right %}

<h6>{% trans "About" %}</h6>
<ul class="navlist">
<li><i class="general foundicon-clock"></i> {% duration total_duration %}</li>
<li><i class="general foundicon-checkmark"></i> {{ schedule.items|length }} steps</li>

</ul>
    <h6>Actions</h6>
<ul class="navlist">
<li><i class="general foundicon-page"></i> <a href="javascript:window.print()">{% trans "Print this page" %}</a></li>
<li><i class="social foundicon-thumb-up"></i> 
<a href="#" data-reveal-id="socialModal">Share this protocol</a></li>
</ul>

    <h6>{% trans "Tags" %}</h6>
    {% with method.tags.all as tags %}
        <div class="row"><div class="twelve columns tags-horizontal">
            {% include "_tags.html" %}
        </div></div>        
{% endwith %}


    <h6>Related Protocols</h6>
<ul class="navlist">
    {% for result in morelikethis %}
    {% with result.object as mlt_method %}
    {% if mlt_method %}
        <li><a href="{% url 'method' method_id=mlt_method.id %}">{{ mlt_method }}</a></li>
    {% endif %}
    {% endwith %}
    {% empty %}
    <li>None.</li>
    {% endfor %}
    </ul>


<h6>{% trans "Meta" %}</h6>
<ul class="navlist">
<li><i class="social foundicon-torso"></i> Added by <a href="{% url 'user-profile' username=method.created_by subdomain=None %}">{{ method.created_by.get_full_name }}</a></li>
{% if method.edited_by %}
<li><i class="social foundicon-torso"></i> Latest edit by <a href="{% url 'user-profile' username=method.edited_by subdomain=None %}">{{ method.edited_by.get_full_name }}</a></li>
{% endif %}<li><i class="general foundicon-clock"></i> Updated {{ method.updated_at|brieftimesince }} ago</li>
{% get_hit_count for method as hit_count %}<li><i class="general foundicon-globe"></i> Viewed {{ hit_count }} time{{ hit_count|pluralize }}</li>
</ul>

{% endblock %}

{% block modals %}
<div id="socialModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h2>Share this protocol.</h2>
  {% with method as object %}{% include "_social.html" %}{% endwith %}
</div>
{% endblock %}



