{% load i18n %}
{% load core_tags %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load markup %}
{% load author_tags %}
{% load avatar_tags %}

<div class="row author_header">
<div class="author_header_inner">
{% avatar author 48 %}
<p class="about"><a href="{% url 'user-profile' username=method.created_by subdomain=None %}">{{ author.get_full_name }}</a><br />
{% with author.get_profile as profile %}{% if profile.organisation %}{{ profile.organisation }} &bull; {% endif %}{{ profile.country }}{% endwith %}</p>
</div>
</div>
