{% load cache %}
{% load tagmeta_tags %}
{% load mptt_tags %}
{% load core_tags %}

    {% if directory %}
    {% cache 600 directory_tree tagged_model LANGUAGE_CODE %}
    <div class="directory">
        {% for node,structure in directory|tree_info %}

            {% if tagged_model %}
                {% tagged_count for node.tag with tagged_model as tag_count %}
            {% else %}
                {% tagged_count for node.tag as tag_count %}
            {% endif %}

            {% if structure.new_level %}<ul class="disc">{% else %}</li>{% endif %}
                <li class="{% if tag_count == 0 %}hide{% endif %}">

                {% with node.tag as tag %}<a href="{% include "_tagurl.html" %}">{{ tag|capfirst }}</a>{% endwith %}

                {% ifequal node.parent_id tagmeta.pk %}({{ tag_count }}){% endifequal %}
            {% for level in structure.closed_levels %}</li></ul>{% endfor %}
        {% endfor %}
    </div>
    {% endcache %}

    {% endif %}
