{% load cache %}
{% load core_tags %}
{% load mptt_tags %}

    {% if directory %}

    {% cache 600 directory directory LANGUAGE_CODE %}
    <div class="directory">
        {% for node,structure in directory|tree_info %}
            {% if structure.new_level %}<ul class="disc"><li>{% else %}</li><li>{% endif %}
                <a href="{% url 'method-tagged' slug=node.tag.slug subdomain='do' %}">{{ node.tag|capfirst }}</a>
                {% ifequal node.parent_id tagmeta.pk %}({{ node.tag.taggit_taggeditem_items.count }}){% endifequal %}
            {% for level in structure.closed_levels %}</li></ul>{% endfor %}
        {% endfor %}
    </div>
    {% endcache %}

    {% endif %}
