{% load thumbnail %}
{% load tagmeta_tags %}
{% load core_tags %}

{% if tags %}
{% for tag in tags %}
    <div class="tagwrap">
        <span class="tag" itemprop="keywords">
            {% if tag.meta %}{% tagmeta_for_tag tag as tagmeta %}
                {% if tagmeta.sponsor.icon %}<img src="{% thumbnail tagmeta.sponsor.icon 16x16 crop %}" class="tagicon">{% endif %}
            {% endif %}

            <a href="{% include "_tagurl.html" %}">{{tag}} </a>
        </span>
        {% if show_tag_counts %}

            {% if tagcount_for_model %}
                {% tagged_count for node.tag with tagged_model as tag_count %}
            {% else %}
                {% tagged_count for node.tag as tag_count %}
            {% endif %}

            <small>x{{ tag_count }}</small>
        {% endif %} &nbsp;
    </div>
{% endfor %}
{% endif%}
