{% load thumbnail %}
{% load tagmeta_tags %}

{% if tags %}
{% for tag in tags %}
    <div class="tagwrap">
        <span class="tag" itemprop="keywords">
            {% if tag.meta %}{% tagmeta_for_tag tag as tagmeta %}
                {% if tagmeta.sponsor.icon %}<img src="{% thumbnail tagmeta.sponsor.icon 16x16 crop %}" class="tagicon">{% endif %}
            {% endif %}
            <a href="{% url method-tagged slug=tag.slug %}" alt="{{tag}}" title="{{tag}}">
                {{tag}} 
            </a>
        </span>{% if show_tag_counts %}<small>x{{ tag.taggit_taggeditem_items.count }}</small>{% endif %} &nbsp;
    </div>
{% endfor %}
{% endif%}
