{% extends "base_with_sidebar_right.html" %}
{% load i18n %}
{% load thumbnail %}
{% load core_tags %}
{% load avatar_tags %}

{% block title %}About Us{% endblock %}
{% block subtitle %}Open Source solutions for scientific progress{% endblock %}

{% block content %}
<p>An open science project based in Birmingham, United Kingdom. We're dedicated to promoting open access, open standards and open source.</p>

<p><strong>Installables</strong> promotes elegant open-source software to solve current scientific challenges. We feel strongly that scientific progress
is dependent on the availability of adequate tools unencumbered with licensing expensive or complicated licensing. You can browse the database
to find free open tools to solve your scientific challenges.
<!-- However, you can support development and receive a number of benefits, by registering for our <a href="{% url 'partner' %}">partner program</a>. -->
</p>

<p><strong>Doables</strong> offers open access to scientific protocols enhanced with modern multimedia to improve understanding and share expertise.
We collate protocols from across the web, with the author's permission and provide our modified versions under Creative Commons licensing CC-BY-SA. If you wish 
to submit your own protocols to the world <a href="{% url 'contact' %}">contact us</a>.
</p>

<!-- <h4>Who are we?</h4>
( Photos of you ) -->


<h5>Who We Are</h5>

{% for user in staff %}
{% with user.get_profile as profile %}

<div class="listing">

    <div class="row">
        <div class="three columns right">
            {% avatar user 96 %}
        </div>
        <div class="nine columns"><!-- <h5><a href="{% url 'user-profile' username=user.username %}">{{ profile.get_full_name  }}</a></h5> -->
            <blockquote>{{ profile.about }}
            <cite><a href="{% url 'user-profile' username=user.username %}">{{ profile.get_full_name }}</a></cite></blockquote>

        </div>    
    </div>
<!--    <div class="row listing-metadata">
        <div class="nice columns offset-by-three ">
            <p>
            {% if profile.city or profile.country %}
                <a href="http://maps.google.com/maps?q={{ profile.city|urlencode }},{{ profile.country|urlencode }}&amp;t=h" target="_blank">
                {% if profile.city %}{{ profile.city }}, {% endif %}
                {% if profile.country %}{{ profile.country }}{% else %}{% trans "Unknown" %}{% endif %}
                </a>            
            {% endif %}
            </p>
        </div>
    </div>
-->
</div>


{% endwith %}
{% endfor %}

        
<!--   
<h5>Acknowledgements</h5>
<p>

</p>
-->

<h5>More Questions?</h5>
<p>We've answered many of our <a href="{% url 'faq' %}">frequently asked questions</a> or you can <a href="{% url 'contact' %}">contact us directly</a>.</p>



{% endblock %}

