{% load i18n %}
{% load core_tags %}
{% load adminmedia %}
{% load thumbnail %}
{% load macros %}

{% macro title %}{% block title %}Installables{% endblock %}{% endmacro %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
		<title>{% block pagetitle %}{% if title %}{{ title }}{% else %}{% usemacro title %}{% endif %}{% endblock %} | {{ site.name }}&trade; {{ site.slogan }}</title>
		<link rel="icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />

		<meta name="google-site-verification" content="6DVvgdOMFUgd9LVuQWMZNGwCZzqrH0PR2Xb6FsvhXPo" />
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
        <meta name="keywords" content="software,download,open source,scientific,research,education,metabolomics,metabolic,metapath">
        <meta name="description" content="Open Source scientific, research and educational software.">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,300italic,300,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}foundation/stylesheets/foundation.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}foundation/webicons/fc-webicons.css" />

        <script src="{{ MEDIA_URL }}foundation/javascripts/modernizr.foundation.js"></script>

		<!-- Base CSS --><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" />
        <!-- Subdomain CSS --><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/subdomains/{{ request.subdomain }}.css" />

        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/general_foundicons.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/social_foundicons.css" />

		{% block %rss %}{% endblock %}
		{% block extrastyle %}{% endblock %}
		<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
		{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}

        {% block extrahead %}
        <script type="text/javascript">
            var csrf_token = '{{ csrf_token }}';
            //document.domain = '{{ default_host }}';
        </script>
	    {% endblock %}

        {% if not user.is_staff %}
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-341253-5']);
              _gaq.push(['_setDomainName', 'abl.es']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
        {% endif %}

</head>
	
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
{% block forkme %}{% endblock %}

<div class="notfixed contain-to-grid">
    <!-- Basic Needs -->
    <nav class="top-bar">
      <ul>

        <li class="name"><h1><a href="/">{% colorname site.name %}</h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
    <section>
      <ul class="right">
        <li><a href="{% url 'about' None %}">About</a></li>
        <li><a href="{% url 'blog' None %}">Blog</a></li>

        <li class="has-dropdown">
          <a href="#">Software</a>

          <ul class="dropdown">
            {% for application in all_applications %}
                <li><a href="{% url 'application' application_slug=application.slug subdomain='install' %}">{{ application.name }}</a></li>
            {% endfor %}
          </ul>

        </li>

        <li><a href="{% url 'methods' subdomain='do' %}">Protocols</a></li>

        <li><a href="#">Register</a></li>
        <li><a href="{% url 'contact' None %}">Contact</a></li>
      </ul>

    </section>

    </nav>

</div>

{% block imageheader %}{% endblock %}

  <div class="header {% block header_classes %}{% endblock %}">
      <div class="row">
        <div class="twelve columns header-content">
            <h1 itemprop="name">{% usemacro title %}</h1>
            <h4>{% block subtitle %}{{ site.slogan }}{% endblock %}</h4>
        </div>
        </div>
  </div>

<div class="content-header">
{% block content_header %}
{% endblock %}
</div>
 
<div class="body">
{% block layout %}
  <div class="row">
    <div class="twelve columns">
        {% block content %}
        {% endblock %}
    </div>
  </div>
{% endblock %}
</div>

{% block content_footer %}
{% endblock %}


  <div class="footer">
      <div class="row footer-top">
        <div class="five columns header-content">
        <h6>Made by abl.es</h6>
        <p>An open science project based in Birmingham, United Kingdom.
         <a href="{% url 'about' None %}">Find out more →</a></p>
        </div>

        <div class="three columns header-content">
        <h6>Using our software?</h6>
        <p>Let us know and we'll feature you on our site! <a href="{% url 'contact' None %}">Get in touch →</a></p>
        </div>

        <div class="four columns header-content">
        <h6>Want to know more?</h6>
            <dl>
                <dd><i class="general foundicon-idea"></i> <a href="{% url 'faq' None %}">Read the FAQ →</a></dd>
                <dd><i class="social foundicon-twitter"></i> <a href="http://twitter.com/#!/_ables_" target="_blank">Follow us on Twitter →</a></dd>
                <!-- <li><i class="social foundicon-facebook"></i> <a href="http://facebook.com/_ables_">Find us on Facebook →</a></li> -->
            </dl>
        </div>

      </div>

      <div class="row footer-bottom">
        <div class="six columns header-content">Site content &copy;2012 abl.es</div>
        <div class="six columns header-content"></div>

      </div>
  </div>

{% block modals %}{% endblock %}

  <script src="{{ MEDIA_URL }}foundation/javascripts/jquery.js"></script>
  <!-- Included JS Files (Minified) -->
  <script src="{{ MEDIA_URL }}foundation/javascripts/foundation.min.js"></script>
  <!-- Initialize JS Plugins -->
  <script src="{{ MEDIA_URL }}foundation/javascripts/app.js"></script>

  <script src="{{ MEDIA_URL }}js/core.js"></script>
   
{% block extrajs %}{% endblock %}
</body>
</html>
