{% extends "base.html" %}
{% load subdomainurls %}

{% block title %}Contact Us{% endblock %}
{% block subtitle %}Drop us a line{% endblock %}

{% block content %}
<div class="boxout"><div>


<h5>Have you tried?</h5>
<ul style="margin-left:2em;">
<li>Our <a href="{% url 'faq' %}">FAQ</a>?</li>
<li>If you are reporting a bug in one of software packages, please report it via <a href="http://github.com/installables">github</a>.
<li>If you are a <em>registered partner</em> looking for help with our software, <a href="">submit a ticket</a>.
<li>If you are not registered but still need help, try the <a href="http://github.com/installables">forum</a>.
</ul>
<p>If none of the above have helped get in touch! We look forward to hearing your questions and comments.</p>

</p>
</div></div>

<h5>Email</h5>
<p>You can contact us at <a href="mailto:enquiries@install.abl.es ">enquiries@install.abl.es</a> and we'll get back to you as soon as possible.</a></p>

<!--
<h5>Post</h5>
<p>
<strong>*ables</strong> c/o Martin Fitzpatrick<br />
Center for Translational Inflammation Research<br />
Queen Elizabeth Hospital<br />
University of Birmingham<br />
<br />
</p>-->



{% endblock %}

