{% load thumbnail %}
{% load core_tags %}
{% load author_tags %}
{% load markup %}

<div class="thread">

    <div class="row">

    <div class="large-12 columns">
        {% with thread.user as user %}{% with 1 as is_mini_mugshot %}{% include "profiles/_mugshot.html" %}{% endwith %}{% endwith %}
        <div class="thread-comment">
            <a href="{% url 'user-profile' username=thread.user.username %}" class="discussion-author">{{ thread.user.get_full_name }}</a>
            started a discussion <h6><a href="{% url 'thread' thread_id=thread.id thread_slug=thread.slug %}">{{ thread.title }}</a></h6>
            <p>{{ thread.comment|markdown:"safe,codehilite" }}</p>

        </div>    
    </div>
    </div>

    <div class="row"><div class="large-10 columns  offset-by-one">
        <blockquote><a href="{{ thread.content_object.get_absolute_url }}">{{ thread.content_object }} <i>{{ thread.content_object.tagline }}</i></a>
            {{ thread.content_object.content|truncatewords:"25" }}</blockquote>
    </div></div>

    <div class="row listing-metadata">
        <div class="large-12 columns">
            <p><i class="general foundicon-clock"></i> Posted {{ thread.updated_at|brieftimesince }} ago &bull; {{ thread.reply_count }} replies &bull; Latest reply at ***</p>
        </div>
    </div>

</div>
